@import "singolo1.css" screen;

/*Portfolio (Блок Portfolio)*/
.portfolio {
  width: 100%;
  height: 864px;
  background-color: #2d303a;
  box-shadow: 0px 6px 0px 0px #323746;
  padding: 35px 38px 0px 38px;
  box-sizing: border-box;
  z-index: 2
}

.portfolio-title {
  padding-left: 3px;
  color: #666d89;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.3px;
}

.portfolio-description{
  margin: -2px;
  color: #767e9e;
  line-height: 20px;
  padding-left: 3.5px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 350;
  letter-spacing: -0.2px;
}

.portfolio-images {
  width: 944px;
  box-sizing: border-box;
  margin: 0 auto;
}

.portfolio-images--filter {
  display: flex;
  padding-top: 3px;
  padding-left: 4px;
}

.filter-element {
  color: #767e9e;
  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 10px;
  line-height: 18px;
  font-size: 12px;
  transition: 0.27s ease-out;
}

.filter-element:hover{
  border-color: #c5c5c5;
  color: #dedede;
}

.filter-element-selected {
  border-color: #c5c5c5;
  color: #dedede;
}

.portfolio-images--section{
  display: grid;
  margin-top: 19px;
  padding: 0px;
  padding-left: 2px;
  list-style: none;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  column-gap: 19px;
  row-gap: 20px;
  overflow: hidden;
  max-height: 604px;
}

.portfolio-images--section li img{
  display: block;
}

/*Aout us (Блок About us)*/
.about_us {
  background-color: #f2f2f2;
  width: 100%;
  height: 734px;
  box-shadow: 0px 6px 0px 0px #ffffff;
  z-index: 0;
  padding: 66px 40px 0px 40px;
  box-sizing: border-box;
}

.about_us-title {
  position: relative;
  top: -25px;
  color: #666d89;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0px;
}

.about_us-description {
  position: relative;
  top: -33px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #767e9e;
  letter-spacing: -0.22px;
}

.about_us-description--second {
  letter-spacing: -0.048px;
}

/*Personnel (Персонал)*/
.about_us-personnel {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 19.5px;
  list-style: none;
  padding: 0px;
  margin-top: -6px;
}

.about_us-personnel--employee {
  width: 300px;
  height: auto;
  padding: 0;
}

.about_us-personnel--employee:nth-child(3) {
  box-sizing: border-box;
  width: 301px;
  padding-left: 1px;
}

.employee-name {
  margin-top: 12px;
  color: #666d89;
  letter-spacing: -0.2px;
  font-weight: 800;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0px;
}

.about_us-personnel--employee:nth-child(2) .employee-name {
  letter-spacing: -0.575px;
}

.employee-description {
  position: relative;
  margin-top: -11px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  width: 301px;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.125px;
}

.about_us-personnel--employee:nth-child(2) .employee-description {
  letter-spacing: 0px;
}

.about_us-personnel--employee:nth-child(3) .employee-description {
  letter-spacing: -0.09px;
}

.employee-social {
  display: flex;
  box-sizing: border-box;
  margin-top: 24px;
}

.about_us-personnel--employee:nth-child(3) .employee-social {
  margin-left: -1px;
}

.employee-social--link {
  box-sizing: border-box;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid #767e9e;
  border-radius: 50%;
  margin: 0px 7px 0px 1px;
  padding: 0;
  transition: 0.27s ease;
}

.employee-social--image {
  position: relative;
  top: -1px;
  left: -1px;
}

.employee-social--link:nth-child(1):hover{ 
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

.employee-social--link:nth-child(2):hover{ 
  background-color: #db4a39;
  border: 1px solid #db4a39;
}

.employee-social--link:nth-child(3):hover{ 
  background-color: #00acee;
  border: 1px solid #00acee;
}

.employee-social--link:nth-child(4):hover{ 
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

.employee-social--link:hover .employee-social--image {
  filter: brightness(0) invert(1);
}

.facebook {
  width: 8px;
  height: 14px;
  margin: 9px 12px;
}

.google {
  width: 14px;
  height: 14px;
  margin: 9px;
}

.twitter {
  width: 14px;
  height: 12px;
  margin: 10px 9px;
}

.linkedin {
  width: 14px;
  height: 14px;
  margin: 9px;
}